<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>Курс не найден</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#000033;font-family: Georgia, serif;">

<div class="container" style="padding-top: 20px">
    <div class="row"
         style="color: darkred;border-radius: 10px 10px 10px 10px; background-color: indianred;padding-top: 10px; padding-bottom: 10px">
        <h2 class="text-center">Курс не найден! Обратитесь к
            администратору.
        </h2>
    </div>
</div>

</body>
</html>