<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Назначить курс</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#000033;font-family: Georgia, serif;padding-left: 30px; padding-right: 30px; line-height: 50px">
<h1 style="color: white" class="text-center">Назначить курс</h1>
<div class="container" style="padding-top: 30px">
    <div class="form-group">
        <label style="color:white;font-size: large" for="inputState">Выберите пользователя</label>
        <select id="inputState" class="form-control">
            <option selected>Имя пользователя</option>
        </select>
        <button style="margin: 10px" type="button" class="btn btn-success pull-right">Сохранить изменения</button>
    </div>
</div>
</body>
</html>